<h1>Galactic Farming Database</h1>
 <div><img src="https://haagsemakers.github.io/astroplant-prototype/assets/img/astroplant.jpg" /></div>
 <caption>https://haagsemakers.github.io/astroplant-prototype/assets/img/astroplant.jpg</caption>
 <br />
 <h3>Select which table you would like to view</h3>
 <ul>
  <li value="farmer"><a href="/viewFarmers">Space Farmer</a></li>
  <li value="planet"><a href="/viewPlanets">Planet</a></li>
  <li value="crops"><a href="/viewCrops">Crops</a></li>
  <li value="weapon"><a href="/viewWeapons">Weapon</a></li>
  <li value="aliens"><a href="/viewAliens">Aliens</a></li>
 </ul>
 