<!doctype html>
<html>
<head>
	<title>Demo Page</title>
	<link rel="stylesheet" href="/ul.css">
</head>
<body>
	{{{body}}}
 <script type="text/javascript" src="/ul.js"></script>
</body>
</html>