<!doctype html>
<html>
 <head>
  <title>Welcome to the GET and POST request checker</title>
 </head>
 <body>
  {{{body}}}
  <form method="post">
   <label>POST CHECKER</label>
   <br />
   POST request1:<input type="text" name="key1"><br>
   POST request2:<input type="text" name="key2"><br>
   POST request3:<input type="text" name="key3"><br>
  <input type="submit" value="Submit">
  </form>
 </body>
</html>
