<!doctype html>
<html>
<head>
	<title>Farming Database</title>
	<link rel="stylesheet" href="/">
</head>
<body style="background-color:lime">
 <img src="https://openlearning-cdn.s3.amazonaws.com/course__courses_introductiontofarming__course-landing-still-1453242967.24.jpg"/>" />
	{{{body}}}
 <script type="text/javascript" src=""></script>
</body>
</html>